@import '../../base/variable';
@import '../../base/mixins';

.offer-banner-wrapper {
    background-color: $color_cape_palliser;
    @include toRem(height, 50);
    @include toRem(line-height, 50);
    width: 100%;
    text-align: center;

    p {
        @include toRem(font-size, 16);
        text-align: center;
        font: var(--unnamed-font-style-medium) normal medium 16px/20px var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--beige-f7f5e6);
        opacity: 1;
    }
}

@include desktop {

    .offer-banner-wrapper {
        @include toRem(height, 40);
        @include toRem(line-height, 40);

        p {
            @include toRem(font-size, 20);
        }
    }

}