//========== COLORS ==========

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$color_bg1: #EEF3F4;
$color_bg2: #E2E6E9;
$color_bg3: #e0e3e8;
$color_alabesters: #F7F7F7;
$color_rangitoto: #2E2E22;
$color_oxford_blue: #354E57;
$color_como: #547665;
$color_grey: #707070;
$color_white: #FFFFFF;
$color_beige: #F7F5E6;
$color_cape_palliser : #A67744;
$color_brown: #956A53;
$color_mischka: #D7CCDD;
$color_dark_grey: #293D45;
$color_silver_rust: #C6B9B6;
$color_athens_grey: #EEF2F4;


$font-family_1: Proxima Nova, Arial, Helvetica, sans-serif;
$font-family_2: Somatic-Rounded, Arial, Helvetica, sans-serif;
// $background-color_1: #202020;
// $background-color_2: #fff;
// $border-color_1: $color_2;
// $border-color_2: $color_7;
// $box-shadow1: 0 0 0 0.2rem RGB(88, 230, 5, 0.35);
// $box-shadow2: 0 8px 20px 0 RGB(0 0 0 / 26%);
// $box-shadow3: 0 5px 20px 10px rgba(0, 0, 0, 0.08);

//========== COLORS END ==========


@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/Metropolis-Black.eot);
}