//========== COLORS ==========

$color_bg1: #EEF3F4;
$color_bg2: #E2E6E9;
$color_bg3: #e0e3e8;
$color_alabesters: #F7F7F7;
$color_rangitoto: #2E2E22;
$color_oxford_blue: #354E57;
$color_como: #547665;
$color_grey: #707070;
$color_white: #FFFFFF;
$color_beige: #F7F5E6;
$color_cape_palliser : #A67744;
$color_brown: #956A53;
$color_mischka: #D7CCDD;
$color_dark_grey: #293D45;
$color_silver_rust: #C6B9B6;
$color_athens_grey: #EEF2F4;

$font-family_2: Somatic-Rounded, Arial, Helvetica, sans-serif;