@charset "UTF-8";
:root {
  /* Colors: */
  --cape-palliser-a67744: #A67744;
  --beige-f7f5e6: #F7F5E6;
  --alabasterr-f7f7f7: #F7F7F7;
  --athens-gray-eef2f4: #EEF2F4;
  --silver-rust-c6b9b6: #C6B9B6;
  --oxford-blue-354e57: #354E57;
  --como-547665: #547665;
  --mischka-d7ccdd: #D7CCDD;
  --rangitoto-2e2e22: #2E2E22;
  --punch-de3b35: #DE3B35;
  --blue-0014ff: #0014FF;
  --white-ffffff: #FFFFFF;
  /* Font/text values */
  --unnamed-font-family-proxima-nova: Proxima Nova;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-32: 32px;
  --unnamed-font-size-40: 40px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-17: 17px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-34: 34px;
  --unnamed-line-spacing-38: 38px;
  --unnamed-line-spacing-48: 48px;
  --unnamed-line-spacing-58: 58px;
}

/* Character Styles */
.headline-—-48pt {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-58);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
}

.headline-2-—-40pt {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-48);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
}

.headline-3-—-32pt {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-32);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
}

.headline-4-—-28pt {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-34);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
}

.headline-5-—-18pt {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
}

.headline-6-—-14pt {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--rangitoto-2e2e22);
}

.body-2-—-14pt {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
}

.hero-banner-wrapper .hb-heading h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
}

.hero-banner-wrapper .hb-heading p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/var(--unnamed-line-spacing-24) var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
  margin-bottom: 18px;
}

.hero-banner-wrapper .hb-heading button {
  width: 173px;
  border: 1px solid var(--oxford-blue-354e57);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--rangitoto-2e2e22);
  background-color: #E2E6E9;
  padding: 10px 0;
}

.hero-banner-wrapper .hb-heading span {
  font: var(--unnamed-font-style-normal) normal 600 12px/14px var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
  background-color: #F7F7F7;
}

@media (min-width: 768px) {
  .hero-banner-wrapper {
    background-image: url("../assets/images/img-hero-banner.png");
    background-color: #E2E6E9;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80% 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .hero-banner-wrapper {
    background-position-y: 50%;
    background-position-x: 56%;
  }
}

@media (min-width: 1200px) {
  .hero-banner-wrapper {
    height: 550px;
  }
}

@media (max-width: 767px) {
  .hb-container {
    padding: 0 !important;
  }
  .hb-container .hb-heading {
    position: relative !important;
    top: 0 !important;
    padding: 28px;
    background-color: #e0e3e8;
  }
  .hb-container .hb-heading span {
    margin-bottom: 16px;
    padding: 5px;
  }
  .hb-container .hb-heading div {
    margin-bottom: 16px;
  }
  .hb-container .hb-heading p {
    font-size: 16px;
  }
  .hb-container .hb-img-xs {
    min-height: 455px;
    position: relative;
    background-image: url("../assets/images/img-hero-banner.png");
    background-color: #e0e3e8;
    background-position-x: 76%;
    background-repeat: no-repeat;
  }
  .hb-container .visible-lg {
    display: none !important;
  }
  .hb-container .visible-xs {
    display: block !important;
  }
  .hb-container .text-align-center {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .hide-lg {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
  .hb-heading {
    top: 26px !important;
  }
  .hb-heading div {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .hb-container {
    position: relative;
    height: 100%;
    padding: 0 116px;
  }
  .hb-container .visible-lg {
    display: block;
  }
  .hb-container .visible-xs,
  .hb-container .visible-sm {
    display: none;
  }
  .hb-container .hb-heading {
    position: absolute;
    top: 124px;
  }
  .hb-container .hb-heading span {
    margin-bottom: 16px;
    padding: 5px;
  }
  .hb-container .hb-heading h1 {
    margin-top: 16px;
  }
  .hb-container .hb-heading div {
    margin-bottom: 16px;
  }
}
/*# sourceMappingURL=hero-banner.css.map */